/* Challenge

   Make the navigation layout work
   on both mobile and large screens.

   Mobile-first, so mobile styles first,
   then add the large screen styles
   inside the existing media query

*/
/*---------------Basics--------------------*/
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;  
}

/*-----------Common-------------------------*/

.container {
    width: 80%;
    margin: 0 auto;
    /* added for nav-toggle positioning */
    position: relative;
}

/*-------------Typography-----------------*/
h1 {
    font-size: 3rem;
    margin-top: 0;
}

.section-title {
    color: #87629A;
}



/*-----------Navigation-------------------*/
header {
    background: #136c72;
    padding: 1em 0;
    text-align: center;
}

.nav {
    width: 100%;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    color: white;
    background-color: transparent;
    transition: opacity 250ms ease;
    
    position: absolute;
    left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

/* made changes here from video
   to make it more accessible.
   
   Works the same :) */
.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
} 

.nav__item {
    margin: 1em 0;
}

.nav__list--secondary {
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
}

.nav__list--primary {
    padding: 0;
}

.nav__link--button {
    border: 1px solid white;
    border-radius: 10px;
    padding: 0.2em 1.2em;
}




.logo {
    height: 30px;
}

@media (min-width: 800px) {

    /*Common*/
    .row {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    /*Nav*/
    .nav-toggle {
        display: none;
    }

    .nav {
        visibility: visible;
        display: flex;
        height: auto;
        position: relative;
        justify-content: space-between;
        width: 80%;

    }

    .nav__list {
        display: flex;
        gap: 2em;

    }

    .logo {
        width: 5%;
    }

    .nav__list--primary {
        gap: 2em;
        justify-content: center;
    }

    .nav__list--secondary {
        width: 50%;
        padding: 0;
        justify-content: flex-end;
        gap: 1em
    }

    img {
        min-width: 50px;
    }



    /*Hero*/
    .hero__text {
        width: 62%;
    }
    
    .hero__img {
        width: 32%;
        align-self: flex-start;
        margin: 0;
    }
    
    .primary-content {
        width: 62%;
    }

    .sidebar {
        width: 32%;
    }
    
}


/*---------------Hero section-----------------------*/

.hero {
    padding: 100px 0;
    background-color: #23424A;
    color: #FFF;
}

.hero__img {
    margin-top: 2em;
}

.hero p {
    margin-bottom: 3em;
}

.main {
    margin-top: 3em;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; 
    color: #23424A;
    font-weight: 900;
    background-color: #38CFD9;
    padding: .75em 2em;
    border-radius: 100px;
}

.btn:hover,
.btn:focus {
    opacity: .75; 
}

.sidebar {
    padding: 1em;
    text-align: center;
    color: #fff;
    background-color: #136c72;

}



