*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


p, h1 {
    margin: 0;
}

p {
    font-size: 0.9rem;
}

.container {
    color: white;
    padding: 4rem 0;
    background-color: #F3EED9;
    color: black;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout {
    width: 90%;
    margin: 0 auto;
}

.column > h1 {
    color: #824936;
    font-size: 1.9rem;
    text-align: center;
}

.center {
    padding: 2rem 0;
}

.center > h1 {
    color: #824936;
    font-size: 1.5rem;
    text-align: center;
}

.row {
    display: flex;
    margin: 0 auto;
    margin-top: 1em;
    gap: 1em;
}

.pic-sec {
    color: white;
    padding: 3rem 0;
}

.pic-sec1 {
    background-color: black;
}

.pic-row {
    display: flex;
    margin: 0 auto;
    gap: 1em;
}

.pic-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pic-col > h1 {
    color: #F3EED9;
    margin-bottom: 0.3em;
}

.pic-child {
    width: 100%;
}

.pic-sec2 {
    background-color: #824936;
}

img {
    max-width: 100%;
}

.img-container {
    display: flex;
    justify-items: flex-end;
}
/*---------------------------------------------------------- */